<%# form for creating a new artist %>

<h1>Add a new artist</h1>

<form action="/artists" method="post">
  <div class="form-group">
    <label for="artist_name">Artist name</label>
    <input id="n" name="artist_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add Artist</button>
</form>